/* .titles {
  display: flex;
  justify-content: space-between;
} */

table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  table-layout: fixed;
}

.countryTableHeadings,
.countryTableHeadings td,
.countryTableBody td {
  border-bottom: thin solid;
}

.rightArrow {
  text-align: center;
}

.flags {
  width: 6rem;
  margin-bottom: 1rem;
}
