/* .titles {
  display: flex;
  justify-content: space-between;
} */

table {
  border-collapse: separate;
  border-spacing: 0 2em;
  table-layout: fixed;
}

.rightArrow {
  text-align: center;
}

.flags {
  width: 6rem;
}

.countryHeadings {
  margin-bottom: 1rem;
}
