/* body,
html {
  width: 100%;
  height: 100%;
} */

.burgerLines {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

header {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-left: 0;
  top: 0; */
}

.burger-and-country {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .search{
  border: 1px solid red;
  width: 15%;
  position: absolute;
  top: 2rem;
  right: 0;
 display: flex;
 justify-content: space-around;
}

.prova {
  color: red;
} */
