/* body,
html {
  width: 100%;
  height: 100%;
} */

.burgerLines {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

header {
  border: 1px solid red;
  color: white;
  background-color: rgb(30, 167, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-left: 0;
  top: 0; */
}

.burger-and-country {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-bar input {
  margin-left: 0.5rem;
  border: none;
  outline: none;
}

/* .search-bar {
  border: 1px solid red;
  width: 20%;

  top: 2rem;
  right: 0;
  display: flex;
  justify-content: space-around;
} */
